<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenue chez Nous</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            width: 80%;
            margin: auto;
        }
        .header {
            background-color: #f8f9fa;
            padding: 20px;
            text-align: center;
        }
        .content {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <img th:src="${logo}" alt="Logo" width="200">
        <h1>Bienvenue chez Nous, <span th:text="${name}"></span>!</h1>
    </div>
    <div class="content">
        <p>Nous sommes ravis de vous accueillir dans notre communauté. Vous êtes maintenant inscrit et prêt à profiter de tous les avantages de notre plateforme.</p>
        <p>Si vous avez des questions ou besoin d'aide, n'hésitez pas à nous contacter à <span th:text="${email}"></span>. Nous sommes là pour vous aider !</p>
        <p>Merci de nous avoir choisi,</p>
        <p><strong>L'équipe de NotreSite</strong></p>
    </div>
</div>
</body>
</html>

